.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 200px;
    
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .login-form form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  }
  
  .login-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .login-form button {
  padding: 10px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  .hl{
text-decoration: none;
  }
  